argon2>=20.1.0
asyncio>=3.10.2
fastapi>=0.78.0
fastapi-login>=1.2.2
fastapi-limiter>=1.4.4
flask>=2.0.0
flask-dance>=2.1.1
flask-limiter>=1.2.0
google-auth-oauthlib>=0.4.4
google-auth-httplib2>=0.0.4
httplib2>=0.18.1
Jinja2>=3.0.1
oauthlib>=3.1.0
psycopg2>=2.9.1
psycopg2-pool>=2.9.1
pydantic>=1.8.1
redis>=3.5.3
requests>=2.26.0
tortoise>=0.13.0
uvicorn>=0.12.2