asyncio
fastapi
fastapi-login
fastapi-limiter
flask
flask-dance
flask-limiter
google-auth-oauthlib
google-auth-httplib2
httplib2
Jinja2
oauthlib
psycopg2
psycopg2-pool
pydantic
redis
requests
tortoise
tortoise-orm
uvicorn
argon2-cffi
python-dotenv