<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    form {
      width: 300px;
      display: flex;
      flex-direction: column;
    }
    label, input[type="submit"] {
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <form method="post">
    <h1>Register</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
      <p style="color: green;">{{ success }}</p>
    {% endif %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Submit">
  </form>
  <a href="{{url_for('google.login')}}"><img src="/static/google-logo.svg" alt="Register with Google" width="40" height="40"></a>
</body>
</html>